<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado Busqueda</title>
</head>
<body>
   <p>Estas buscando: <strong>{{query}}</strong></p> 

{%if articulos%}

<p>Aticulos Encontrados: {{articulos|length}} articulos</p>
<ul>

    {%for articulo in articulos%}
        <li>
            {{articulo.nombre}} &nbsp; {{articulo.seccion}} &nbsp; {{articulo.precio}} 
            

        </li>
    {%endfor%}

{%else%}
<p> Articulo No Encontrado</p>
{%endif%}

</ul>

</body>
</html>